<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Credit Cards</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
</head>
<body>

<div class="w3-top w3-card w3-margin-bottom" style="width:100%;min-width:400px;padding:30px;">
<div class="w3-bar w3-white w3-wide w3-card w3-padding-16">
<a class="w3-bar-item w3-button">List of Credit Cards - Project #3</a>
</div>
<table width="100%" border="1">
<tr align="left"><th>Credit Cards</th><th>Annual Fee</th><th>Perks </th></tr>
<tr><td>American Express Platinum®</td><td>$550</td><td>Get 100,00 Membership Reward® points after spending $4000 within the first 3 months of openning an account</td></tr>
<tr><td>Chase Sapphire Reserve®</td><td>$550</td><td>50,000 BONUS POINTS
after you spend $4,000 on purchases in the first 3 months from account opening</td></tr>
<tr><td>Citi Prestige®</td><td>$495</td><td>Your 50,000 bonus ThankYou® Points are redeemable for $500 in travel, anytime, with no blackout dates when booked through the ThankYou Travel Center</td></tr>
<tr><td>Capital One Venture®</td><td>$95</td><td>Earn 60,000 bonus miles once you spend $3,000 on purchases within the first 3 months from account opening</td></tr>
</table>
</div>
</body>

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>